<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="TTCMSEntities" providerName="System.Data.SqlClient" connectionString="Data Source=103.18.7.211;Initial Catalog=hanhtongdev_H18_hotdeal1;User ID=hanhtongdev_H18_abc1;Password=eQo49!d6;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True" />-->
    <add name="TTCMSEntities" connectionString="data source=WINDOWS-10\SQLEXPRESS;initial catalog=UAT_TVSI_WEBSITEDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	  <!--<add name="TTCMSEntities" providerName="System.Data.SqlClient" connectionString="Data Source=10.0.140.117;Initial Catalog=UAT_TVSI_WEBSITEDB;User ID=etg;Password=T7Kr?-VK39!@sy%8;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>