@model TTCMS.Domain.Menu[]
@{
    var root = Model.Where(x => x.ParentID == 0).OrderBy(x => x.Order);
}
@if (Model.Count() > 0)
{
    foreach (var item in root)
    {
        <li class="hidden-affix ">
            <a href="@item.Link" title="@item.Name" target="@item.Target">@item.Name</a>
        </li>
    }
}
<li class="hidden-affix tt-hotline">
    <span class="nav-hotline">Hotline:@ViewBag.HotLine</span>
</li>













