@{ 
    ViewBag.Title = "VỀ TVSI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-default">
    <div class="bg">
        <img data-src="../webroot/images/banner/about-tvsi.png" alt="TVSI" class="lazyload">
        <h1></h1>
    </div>
</section>

<section class="section-menu pb-0">
    <div class="swiper-container menu-default sp">
        <div class="swiper-wrapper">
            <div class="swiper-slide menu active" data-type="1">
                <p>VỀ TVSI</p>
            </div>
            <div class="swiper-slide menu" data-type="2">
                <p>GÍA TRỊ<br>DOANH NGHIỆP</p>
            </div>
            <div class="swiper-slide menu" data-type="3">
                <p>MỐC SON<br>PHÁT TRIỂN</p>
            </div>
            <div class="swiper-slide menu" data-type="4">
                <p>ĐỘI NGŨ</p>
            </div>
            <div class="swiper-slide menu" data-type="5">
                <p>THÀNH TỰU<br>NỔI BẬT</p>
            </div>
            <div class="swiper-slide menu" data-type="6">
                <p>HỒ SƠ NĂNG LỰC <br>TVSI</p>
            </div>
        </div>
        <div class="swiper-button-next for-menu"></div>
        <div class="swiper-button-prev for-menu"></div>
    </div>

    <div class="menu-default pc">
        <div class="container">
            <div class="menu active" data-type="1">
                <p>VỀ TVSI</p>
            </div>
            <div class="menu" data-type="2">
                <p>GIÁ TRỊ DOANH NGHIỆP</p>
            </div>
            <div class="menu" data-type="3">
                <p>MỐC SON PHÁ TRIỂN</p>
            </div>
            <div class="menu" data-type="4">
                <p>ĐỘI NGŨ</p>
            </div>
            <div class="menu" data-type="5">
                <p>THÀNH TỰU NỔI BẬT</p>
            </div>
            <div class="menu" data-type="6">
                <p>HỒ SƠ NĂNG LỰC TVSI</p>
            </div>
        </div>
    </div>

    <div class="container">
        <hr>
    </div>

    <div class="about about-1" data-type="1">
        <div class="first">
            <div class="container">
                <div class="content">
                    <div class="title-default">
                        <img data-src="../webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                        <h2>PHÁT TRIỂN KINH DOANH MỚI</h2>
                    </div>
                    <p class="desc">
                        Công ty Cổ phần Chứng khoán Tân Việt (TVSI) được thành lập ngày 28/12/2006 bởi
                        một nhóm các chuyên gia và các nhà lãnh đạo doanh nghiệp giàu kinh nghiệm trong lĩnh vực tài
                        chính. TVSI hội tụ đầy đủ sức mạnh đến từ nhân lực, công nghệ và nguồn vốn. TVSI chú trọng
                        phát triển theo hướng kinh doanh mới nhằm cung cấp các dịch vụ tài chính trọn gói, dịch vụ
                        môi giới chú trọng tới Khách hàng.
                    </p>
                    <div class="bottom">
                        <h3>
                            TVSI được ủy ban chứng khoán cấp phép và hoạt động kinh doanh ở tất cả các nghiệp
                            vụ:
                        </h3>
                        <div class="number">
                            <div class="left">
                                <div class="item">
                                    <b>1</b>
                                    <p>Môi giới chứng khoán</p>
                                </div>
                                <div class="item">
                                    <b>2</b>
                                    <p>Tự doanh</p>
                                </div>
                                <div class="item">
                                    <b>3</b>
                                    <p>Dịch vụ chứng khoán</p>
                                </div>
                                <div class="item">
                                    <b>4</b>
                                    <p>Bảo lãnh phát hành</p>
                                </div>
                            </div>
                            <div class="right">
                                <div class="item">
                                    <b>5</b>
                                    <p>Quản lý danh mục đầu tư</p>
                                </div>
                                <div class="item">
                                    <b>6</b>
                                    <p>Dịch vụ tài chính</p>
                                </div>
                                <div class="item">
                                    <b>7</b>
                                    <p>Tư vấn tài chính doanh nghiệp</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="second">
            <div class="container">
                <div class="content">
                    <p class="desc">
                        Ngay từ khi mới thành lập, TVSI luôn định hướng con người là nền tảng, công nghệ
                        làm cốt lõi cho sự phát triển. TVSI là một trong những công ty chứng khoán đầu tiên triển
                        khai giao dịch chứng khoán trực tuyến từ năm 2008 – khi thị trường và đa số các nhà đầu tư
                        vẫn đang phải cặm cụi nhập phiếu lệnh. TVSI đã không ngừng đầu tư công nghệ, phát triển các
                        công cụ giao dịch trực tuyến thông minh trên đẩy đủ các nền tảng web trading: iTrade Home;
                        ứng dụng thiết bị di động TVSI Mobile, cài đặt máy tính: iTrade Pro, mobile web: iTrade
                        Mobile, mang đến cho Khách hàng giải pháp trực tuyến toàn diện.<br><br>
                        Với số vốn điều lệ khi mới thành lập năm 2006 là 55 tỷ đồng, sau 4 lần tăng vốn đến tháng
                        6/2021 TVSI đã chính thức hoàn thành tăng vốn điều lệ lên mức 2.639 tỷ đồng. Đây tiếp tục là
                        dấu mốc quan trọng nâng vị thế TVSI lên TOP 5 các công ty chứng khoán có quy mô vốn điều lệ
                        lớn nhất trên thị trường. 15 năm hoạt động, TVSI cung cấp nhiều sản phẩm dịch vụ đa dạng,
                        hiệu quả, sở hữu tập khách hàng ngày càng mở rộng. Với năng lực dẫn đầu thị phần UPCOM 2019,
                        là Công ty CK thành viên tiêu biểu của HNX 2019 và 2020, đạt TOP 5 thị phần môi giới trái
                        phiếu bán niên 2021, TVSI đã và đang khẳng định vị thế của mình trên thị trường chứng khoán
                        Việt Nam hiện nay.
                    </p>
                </div>
            </div>
        </div>
        <div class="third">
            <div class="container">
                <div class="content">
                    <div class="title-default">
                        <img data-src="../webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                        <h2>ĐỐI TÁC HỢP TÁC CHIẾN LƯỢC TOÀN DIỆN</h2>
                    </div>
                    <div class="desc">
                        <div class="item">
                            <div class="left">
                                <h3>1. NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN SÀI GÒN</h3>
                                <p>
                                    Vốn điều lệ: 20,232 tỷ đồng<br>
                                    TOP 5 Ngân hàng TMCP lớn nhất tại Việt Nam.<br>
                                    Mạng lưới giao dịch hơn 239 đơn vị trên cả nước.
                                </p>
                            </div>
                            <div class="right">
                                <img data-src="../webroot/images/logo/scb.png" alt="SCB" class="lazyload">
                            </div>
                        </div>
                        <div class="item">
                            <div class="left">
                                <h3>2. TỔNG CÔNG TY CỔ PHẦN BẢO HIỂM BẢO LONG</h3>
                                <p>
                                    Là Công ty cổ phần đầu tiên hoạt động trên lĩnh vực bảo hiểm phi nhân thọ tại
                                    Việt Nam;<br>
                                    TOP 10 Công ty Bảo hiểm uy tín nhất Việt Nam;<br>
                                    Vốn điều lệ 600 Tỷ đồng;<br>
                                    Mạng lưới hoạt động 46 Chi nhánh và PGD trên toàn quốc.
                                </p>
                            </div>
                            <div class="right">
                                <img data-src="../webroot/images/logo/bao-long.png" alt="Bao Long" class="lazyload">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about about-2 d-none" data-type="2">
        <div class="first">
            <div class="container">
                <div class="content">
                    <div class="left">
                        <img data-src="../webroot/images/tam-nhin.png" alt="TVSI" class="lazyload">
                        <div class="title-default">
                            <img data-src="../webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                            <h2>TẦM NHÌN</h2>
                        </div>
                    </div>
                    <div class="right">
                        <p>
                            <img data-src="../webroot/images/icon/quotes-no-bg.svg" alt="TVSI"
                                 class="lazyload before">
                            Trở thành một trong những định chế trung gian tài chính hàng đầu trong lĩnh vực chứng
                            khoán, trong đó hoạt động môi giới, dịch vụ tín dụng làm chủ đạo.
                            <img data-src="../webroot/images/icon/quotes-no-bg.svg" alt="TVSI"
                                 class="lazyload after">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="second">
            <div class="container">
                <div class="title-default">
                    <img data-src="../webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                    <h2>CÁC MỤC TIÊU DÀI HẠN</h2>
                </div>
                <div class="content">
                    <ul>
                        <li>
                            <img data-src="../webroot/images/icon/like.svg" alt="TVSI" class="lazyload">
                            <p>
                                Phát triển thương hiệu TVSI trở thành một trong những thương hiệu hàng đầu trong lĩnh
                                vực kinh doanh chứng khoán
                            </p>
                        </li>
                        <li>
                            <img data-src="../webroot/images/icon/money-bag.png" alt="TVSI" class="lazyload">
                            <p>
                                Trở thành tổ chức tài chính hàng đầu tại Việt Nam trong lĩnh vực môi giới trực tuyến
                                và đầu tư - tư vấn tài chính
                            </p>
                        </li>
                        <li>
                            <img data-src="../webroot/images/icon/reception.png" alt="TVSI" class="lazyload">
                            <p>Đào tạo, phát triển chất lượng nhân sự là yếu tố cốt lõi</p>
                        </li>
                        <li>
                            <img data-src="../webroot/images/icon/market.png" alt="TVSI" class="lazyload">
                            <p>Tối đa hóa giá trị cổ đông</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="third">
            <div class="container">
                <div class="content">
                    <div class="left">
                        <div class="title-default">
                            <img data-src="../webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                            <h2>SỨ MỆNH</h2>
                        </div>
                        <p class=" desc pc">
                            Đóng góp vào sự phát triển của ngành chứng khoán và nền kinh tế<br><br>
                            Xây dựng đội ngũ môi giới có kinh nghiệm, trình độ và gắn bó với nghề nghiệp<br><br>
                            Tích cực tham gia vào các hoạt động có ích cho xã hội và cộng đồng
                        </p>
                        <img data-src="../webroot/images/hands.png" alt="TVSI" class="lazyload sp hands">
                    </div>
                    <div class="right">
                        <img data-src="../webroot/images/hands.png" alt="TVSI" class="lazyload pc hands">
                        <p class="desc sp">
                            Đóng góp vào sự phát triển của ngành chứng khoán và nền kinh tế<br><br>
                            Xây dựng đội ngũ môi giới có kinh nghiệm, trình độ và gắn bó với nghề nghiệp<br><br>
                            Tích cực tham gia vào các hoạt động có ích cho xã hội và cộng đồng
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="four">
            <div class="container">
                <div class="title-default">
                    <img data-src="../webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                    <h2>SỨ MỆNH</h2>
                </div>
                <img data-src="../webroot/images/gia-tri-cot-loi.png" alt="TVSI" class="price lazyload">
            </div>
        </div>
    </div>
    <div class="about about-3 d-none" data-type="3">
        <div class="container">
            <h2>
                Công ty cổ phần chứng khoán Tân Việt (TVSI) được thành lập ngày 28/12/2006 với số vốn điều lệ ban
                đầu 55 tỷ đồng. Sau 15 năm hoạt động và phát triển, TVSI đã nâng vốn điều lệ lên 2.639 tỷ đồng, tăng
                trưởng mạnh mẽ về quy mô vốn. Trong suốt quá trình hoạt động kinh doanh của mình, trải qua nhiều sự
                biến động của thị trường chứng khoán, TVSI vẫn đứng vững và phát triển liên tục với kết quả hoạt
                động lãi 15 năm liền từ khi thành lập. TVSI được biết đến là một trong những công ty chứng khoán đầu
                tiên triển khai giao dịch chứng khoán trực tuyến.
            </h2>
            <div class="years">
                <div class="year">
                    <h3>2006</h3>
                    <ul>
                        <li>
                            Thành lập Công ty cổ phẩn chứng khoán Tân Việt (TVSI)
                        </li>
                    </ul>
                </div>
                <div class="year">
                    <h3>2007</h3>
                    <ul>
                        <li>
                            Thành viên chính thức của HOSE, HNX
                        </li>
                        <li>
                            Thành lập Chi nhánh tại TP. Hồ Chí Minh
                        </li>
                        <li>
                            Triển khai thành công Core giao dịch chứng khoán của nước ngoài đầu tiên tại Việt Nam
                        </li>
                    </ul>
                </div>
                <div class="year">
                    <h3>2008</h3>
                    <ul>
                        <li>
                            Tăng vốn lên 128 tỷ đồng.
                        </li>
                        <li>
                            Thành lập Chi nhánh Hải Phòng, Đà Nẵng
                        </li>
                        <li>
                            Ra mắt hệ thống phần mềm giao dịch trực tuyến iTrade-Home
                        </li>
                    </ul>
                </div>
                <div class="year">
                    <h3>2009</h3>
                    <ul>
                        <li>
                            Tăng vốn lên 350 tỷ đồng
                        </li>
                        <li>
                            Vận hành Trung tâm Dịch vụ khách hàng 1900 1885
                        </li>
                        <li>
                            Giải thưởng “TIN VÀ DÙNG” năm 2009 cho sản phẩm “Giao dịch trực tuyến”
                        </li>
                        <li>
                            TOP 500 Doanh nghiệp tư nhân lớn nhất Việt Nam 2009 do Công ty Cổ phần Báo cáo đánh giá Việt Nam công bố
                        </li>
                    </ul>
                </div>
                <div class="year">
                    <h3>2010</h3>
                    <ul>
                        <li>
                            Thành lập Chi nhánh Quy Nhơn
                        </li>
                        <li>
                            Ra mắt phiên bản Website & iTrade 2010
                        </li>
                        <li>
                            Giải thưởng “Thương hiệu Chứng khoán Uy tín 2010”
                        </li>
                        <li>
                            Giải thưởng “TIN VÀ DÙNG” năm 2010 cho sản phẩm “Giao dịch trực tuyến”
                        </li>
                    </ul>
                </div>
                <div class="year">
                    <h3>2011</h3>
                    <ul>
                        <li>
                            Thành lập Chi nhánh Mỹ Đình
                        </li>
                        <li>
                            Là CTCK đầu tiên đáp ứng đủ các điều kiện của UBCKN ra mắt dịch vụ Giao dịch ký quỹ và triển khai hệ thống phần mềm quản lý hoàn toàn tự động
                        </li>
                        <li>
                            Ra mắt tiện ích mới: iPayment kết nối trực tiếp Vietcombank
                        </li>
                    </ul>
                </div>
                <div class="year">
                    <h3>2012</h3>
                    <ul>
                        <li>
                            Ra mắt hệ thống phần mềm giao dịch trực tuyến trên thiết bị di động iTrade Mobile
                        </li>
                    </ul>
                </div>
                <div class="year">
                    <h3>2013</h3>
                    <ul>
                        <li>
                            Chuyển trụ sở chính về số 79 Lý Thường Kiệt, Hoàn Kiếm, Hà Nội
                        </li>
                        <li>
                            TOP 10 công ty chứng khoán có thị phần cao nhất HNX quý 3/2013
                        </li>
                    </ul>
                </div>
                <div class="year">
                    <h3>2014</h3>
                    <ul>
                        <li>
                            Phát hành thành công 188,5 tỷ đồng trái phiếu riêng lẻ TVSI
                        </li>
                        <li>
                            Thành viên lập quỹ ETF VFMVN30 nội đầu tiên của Việt Nam
                            TOP 10 công ty chứng khoán có thị phần cao nhất HNX quý 3/2014
                        </li>
                        <li>
                            TOP 10 công ty chứng khoán có thị phần cao nhất HNX quý 3/2014
                        </li>
                    </ul>
                </div>
                <div class="year">
                    <h3>2015</h3>
                    <ul>
                        <li>
                            Phát hành thành công 232 tỷ đồng trái phiếu doanh nghiệp TVSI
                        </li>
                    </ul>
                </div>
                <div class="year">
                    <h3>2016</h3>
                    <ul>
                        <li>
                            TOP 10 công ty chứng khoán có thị phần môi giới cao nhất HNX 2016
                        </li>
                        <li>
                            Ký kết thỏa thuận hợp tác toàn diện với Ngân hàng TMCP Sài Gòn (SCB) và Tổng CTCP Bảo hiểm Bảo Long
                        </li>
                        <li>
                            Giải thưởng "Hệ thống giao dịch chứng khoán trực tuyến tốt nhất Việt Nam 2016” do Tạp chí Tài chính Quốc tế (International Finance Magazine – IFM, Anh Quốc) bình chọn & trao tặng
                        </li>
                    </ul>
                </div>
                <div class="year">
                    <h3>2017</h3>
                    <ul>
                        <li>
                            Tăng vốn điều lệ lên 500 tỷ đồng
                        </li>
                        <li>
                            Phát hành thành công 02 đợt trái phiếu doanh nghiệp TVSI với giá trị trên 400 tỷ đồng
                        </li>
                    </ul>
                </div>
                <div class="year">
                    <h3>2018</h3>
                    <ul>
                        <li>
                            Tăng vốn điều lệ lên 1.080 tỷ đồng
                        </li>
                        <li>
                            Phát hành thành công 02 đợt trái phiếu doanh nghiệp TVSI với giá trị 290 tỷ đồng
                        </li>
                        <li>
                            TOP 500 doanh nghiệp có lợi nhuận tốt nhất năm 2018 do Công ty Cổ phần Báo cáo đánh giá Việt Nam công bố
                        </li>
                        <li>
                            Giải thưởng "Công ty phát triển mạng lưới môi giới nhanh nhất Việt Nam 2018” do Tạp chí Global Banking and Finance Review, Anh Quốc bình chọn & trao tặng
                        </li>
                    </ul>
                </div>
                <div class="year">
                    <h3>2019</h3>
                    <ul>
                        <li>
                            Dẫn đầu thị phần UpCom quý 3/2019
                        </li>
                        <li>
                            Triển khai thành công sản phẩm Chứng khoán phái sinh
                        </li>
                        <li>
                            Công ty Chứng khoán thành viên tiêu biểu năm 2019 của Sở Giao dịch chứng khoán Hà Nội (HNX)
                            Thành lập Chi nhánh Ngọc Khánh
                        </li>
                        <li>
                            Phát triển mới nghiệp vụ: Kinh doanh trái phiếu, Quản lý trái phiếu
                        </li>
                        <li>
                            TOP 500 Doanh nghiệp tư nhân lớn nhất Việt Nam 2019 do Công ty Cổ phần Báo cáo đánh giá Việt Nam công bố
                        </li>
                    </ul>
                </div>
                <div class="year">
                    <h3>2020</h3>
                    <ul>
                        <li>
                            TOP 10 công ty chứng khoán có thị phần môi giới cao nhất HNX Quý II & 6 tháng đầu năm 2020
                        </li>
                        <li>
                            TOP 500 doanh nghiệp phát triển nhanh nhất năm 2020 do Công ty Cổ phần Báo cáo đánh giá Việt Nam công bố
                        </li>
                        <li>
                            Giải thưởng “Công ty chứng khoán quản trị doanh nghiệp hiệu quả nhất Việt Nam 2020” do Tạp chí Tài chính Quốc tế (International Finance Magazine – IFM, Anh Quốc) bình chọn & trao tặng
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="about about-4 d-none" data-type="4">
        <div class="container">
            <div class="title-default">
                <img data-src="../webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                <h2>HỘI ĐỒNG QUẢN TRỊ & BAN ĐIỀU HÀNH</h2>
            </div>
            <div class="members">
                <div class="member">
                    <h3>ÔNG NGUYỄN TIẾN THÀNH</h3>
                    <h4>CHỦ TỊCH HĐQT<br>TỔNG GIÁM ĐỐC</h4>
                    <div class="info">
                        <img data-src="../webroot/images/members/nguyen-tien-thanh.png" alt="TVSI" class="lazyload">
                        <ul>
                            <li>
                                Thạc sỹ Quản lý Phát triển –Asian Institute of Management – Philipines
                            </li>
                            <li>
                                Cử nhân Tài chính Ngân hàng – ĐH KTQD
                            </li>
                            <li>
                                2019: Chủ tịch HĐQT, Tổng giám đốc Công ty CP Chứng khoán Tân Việt
                            </li>
                            <li>
                                2016: Tổng Giám đốc Công ty Chứng khoán Tân Việt
                            </li>
                            <li>
                                2014: Thành viên HĐQT – Phó Tổng Giám đốc Công ty CP Chứng khoán Tân Việt
                            </li>
                            <li>
                                2009: Phó Tổng Giám đốc Kiêm Giám đốc Chi nhánh HCM Công ty CP Chứng khoán Tân Việt
                            </li>
                            <li>
                                2008: Giám đốc Chi nhánh Hồ Chí Minh - Công ty CP Chứng khoán Tân Việt
                            </li>
                            <li>
                                2007: Giám đốc DVCK Công ty CP Chứng khoán Tân Việt
                            </li>
                            <li>
                                1994: Trưởng Phòng Kế toán Ngân hàng Ngoại Thương Việt Nam
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="member">
                    <h3>ÔNG NGUYỄN VIỆT CƯỜNG</h3>
                    <h4>PHÓ TỔNG GIÁM ĐỐC<br>THÀNH VIÊN HĐQT</h4>
                    <div class="info">
                        <img data-src="../webroot/images/members/nguyen-viet-cuong.png" alt="TVSI" class="lazyload">
                        <ul>
                            <li>
                                Thạc sỹ QTKD – ĐH KTQD Hà Nội.
                            </li>
                            <li>
                                Kỹ sư Tin học – ĐH Tổng hợp Sofia, Bulgari
                            </li>
                            <li>
                                2006: Phó Tổng Giám đốc Công ty Chứng khoán Tân Việt
                            </li>
                            <li>
                                1997: Phó Giám đốc Trung tâm Tin học Ngân hàng Ngoại Thương.
                            </li>
                            <li>
                                1993: Chuyên viên Nghiên cứu phát triển và Phân tích hệ thống
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="member">
                    <h3>ÔNG LÊ THANH TÙNG</h3>
                    <h4>PHÓ TỔNG GIÁM ĐỐC<br>THÀNH VIÊN HĐQT</h4>
                    <div class="info">
                        <img data-src="../webroot/images/members/le-thanh-tung.png" alt="TVSI" class="lazyload">
                        <ul>
                            <li>
                                Thạc sỹ QTKD- Chương Trình Cao học Việt – Bỉ
                            </li>
                            <li>
                                Cử nhân Tài chính Ngân hàng – HV Ngân hàng
                            </li>
                            <li>
                                2016: Phó Tổng giám đốc Công ty Cổ phần Chứng khoán Tân Việt.
                            </li>
                            <li>
                                2008: Giám đốc tài chính - Kế toán Trưởng Công ty Cổ phần Chứng khoán Tân Việt.
                            </li>
                            <li>
                                2007: Phó phòng Tài chính kế toán - Ngân hàng Vietcombank
                            </li>
                            <li>
                                2005: Trưởng phòng Tài chính Kế toán Ngân hàng Vietcombank – CN. Vĩnh Phúc.
                            </li>
                            <li>
                                2001: Kiểm soát viên P. Thanh toán Ngân hàng Ngoại Thương Việt Nam.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="member">
                    <h3>ÔNG TRẦN VIỆT ĐỨC</h3>
                    <h4>THÀNH VIÊN HĐQT<br><b class="opacity-0">.</b></h4>
                    <div class="info">
                        <img data-src="../webroot/images/members/tran-viet-duc.png" alt="TVSI" class="lazyload">
                        <ul>
                            <li>
                                Chuyên gia quản trị – Đại học Harvard – Hoa kỳ
                            </li>
                            <li>
                                Thạc sỹ Quản trị kinh doanh – Đại học Texas, Arlington – Hoa Kỳ
                            </li>
                            <li>
                                Cử nhân Luật kinh doanh – Đại học Xã hội và Nhân văn
                            </li>
                            <li>
                                Cử nhân Quản trị Kinh doanh – Đại học Kinh tế Quốc dân
                            </li>
                            <li>
                                2004: Giám đốc Quỹ đầu tư IDG Ventures Vietnam
                            </li>
                            <li>
                                2001: Phó Giám đốc Công ty Kiểm toán Việt Nam
                            </li>
                            <li>
                                1998: Trợ giảng Đại học Texas, Arlington – Hoa Kỳ
                            </li>
                            <li>
                                1996: Kiểm toán viên Công ty Deloitte & Touch – Hoa Kỳ
                            </li>
                            <li>
                                1992: Phó phòng Công ty Kiểm toán Việt Nam
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="member">
                    <h3>BÀ BÙI THỊ THANH HIỀN</h3>
                    <h4>PHÓ TỔNG GIÁM ĐỐC, KẾ TOÁN TRƯỞNG<br>THÀNH VIÊN HĐQT</h4>
                    <div class="info">
                        <img data-src="../webroot/images/members/bui-thi-thanh-hien.png" alt="TVSI" class="lazyload">
                        <ul>
                            <li>
                                Cử nhân Kế toán Kiểm toán – Đại học Kinh tế Quốc dân
                            </li>
                            <li>
                                Cử nhân Luật kinh tế - Đại học Luật Hà Nội
                            </li>
                            <li>
                                05/2019: Thành viên HĐQT, Phó Tổng Giám đốc, Kế toán trưởng Công ty CP Chứng khoán Tân Việt
                                2018: Phó Tổng Giám đốc, Kế toán trưởng Công ty CP Chứng khoán Tân Việt
                            </li>
                            <li>
                                05/2017: Kế toán trưởng Công ty CP Chứng khoán Tân Việt
                            </li>
                            <li>
                                01/2017: Trưởng phòng Kế toán Công ty CP Chứng khoán Tân Việt
                            </li>
                            <li>
                                2013: Phó Phòng Kế toán Công ty CP Chứng khoán Tân Việt
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="member">
                    <h3>ÔNG TẠ MINH PHƯƠNG</h3>
                    <h4>PHÓ TỔNG GIÁM ĐỐC<br><b class="opacity-0">.</b></h4>
                    <div class="info">
                        <img data-src="../webroot/images/members/ta-minh-phuong.png" alt="TVSI" class="lazyload">
                        <ul>
                            <li>
                                Thạc sỹ Quản trị kinh doanh – Chương trình Cao học Pháp – Việt (CFVG) – Đại học Kinh tế Quốc dân
                            </li>
                            <li>
                                Kỹ sư tin học – Đại học Bách Khoa Hà Nội
                            </li>
                            <li>
                                01/2019: Phó Tổng giám đốc Công ty CP Chứng khoán Tân Việt
                            </li>
                            <li>
                                01/2017: Giám đốc Vận hành Công ty CP Chứng khoán Tân Việt
                            </li>
                            <li>
                                2010: Trưởng phòng Công nghệ thông tin Công ty CP Chứng khoán Tân Việt
                            </li>
                            <li>
                                2008: Phó phòng Công nghệ thông tin Công ty CP Chứng khoán Tân Việt
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="title-default">
                <img data-src="../webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                <h2>SƠ ĐỒ TỔ CHỨC</h2>
            </div>
            <img data-src="../webroot/images/co-cau-to-chuc.png" alt="TVSI" class="lazyload organization">
        </div>
    </div>
    <div class="about about-5 d-none" data-type="5">
        <div class="container">
            <h3>Công ty cổ phần chứng khoán Tân Việt (TVSI) được thành lập ngày 28/12/2006 với số vốn điều lệ ban đầu 55 tỷ đồng. Sau 15 năm hoạt động và phát triển, TVSI đã nâng vốn điều lệ lên 2.639 tỷ đồng, tăng trưởng mạnh mẽ về quy mô vốn. Trong suốt quá trình hoạt động kinh doanh của mình, trải qua nhiều sự biến động của thị trường chứng khoán, TVSI vẫn đứng vững và phát triển liên tục với kết quả hoạt động lãi 15 năm liền từ khi thành lập. TVSI được biết đến là một trong những công ty chứng khoán đầu tiên triển khai giao dịch chứng khoán trực tuyến.</h3>
            <img data-src="../webroot/images/prizes.png" alt="TVSI" class="lazyload">
            <div class="title-default">
                <img data-src="../webroot/images/icon/chart.svg" alt="Chart" class="lazyload">
                <h2>SƠ ĐỒ TỔ CHỨC</h2>
            </div>
            <img data-src="../webroot/images/total-property.png" alt="TVSI" class="lazyload">
            <img data-src="../webroot/images/profit.png" alt="TVSI" class="lazyload">
        </div>
    </div>
    <div class="about about-6 d-none" data-type="6">

    </div>
</section>

