
@{
    ViewBag.Title = "Cơ hội nghề nghiệp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-default">
    <div class="bg">
        <img data-src="../webroot/images/banner/co-hoi-lam-viec.png" alt="TVSI" class="lazyload" style="width: 100%;">
        <h1>Cơ hội nghề nghiệp</h1>
    </div>
</section>

<section class="section-menu">
    <div class="swiper-container menu-default sp">
        <div class="swiper-wrapper">
            <a class="swiper-slide menu active" data-type="1" href="#">
                <p>VỊ TRÍ<br>TUYỂN DỤNG</p>
            </a>
            <a class="swiper-slide menu" data-type="2" href="#">
                <p>NỘP<br>HỒ SƠ</p>
            </a>
            <a class="swiper-slide menu" data-type="3" href="#">
                <p>MÔI TRƯỜNG<br>LÀM VIỆC</p>
            </a>
        </div>
        <div class="swiper-button-next for-menu"></div>
        <div class="swiper-button-prev for-menu"></div>
    </div>

    <div class="menu-default pc">
        <div class="container">
            <a class="menu active" data-type="1" href="#">
                <p>VỊ TRÍ TUYỂN DỤNG</p>
            </a>
            <a class="menu" data-type="2" href="#">
                <p>NỘP HỒ SƠ</p>
            </a>
            <a class="menu" data-type="3" href="#">
                <p>MÔI TRƯỜNG LÀM VIỆC</p>
            </a>
        </div>
    </div>

    <div class="container">
        <hr>
    </div>
</section>

