@{ ViewBag.Title = "Quan hệ nhà đầu tư";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-default">
    <div class="bg">
        <img data-src="../webroot/images/banner/quan-he-nha-dau-tu.png" alt="TVSI" class="lazyload">
        <h1>Quan hệ nhà đầu tư</h1>
    </div>
</section>

<section class="section-menu">
    <div class="swiper-container menu-default sp">
        <div class="swiper-wrapper">
            <div class="swiper-slide menu active" data-type="1">
                <p>BÁO CÁO<br>TÀI CHÍNH</p>
            </div>
            <div class="swiper-slide menu" data-type="2">
                <p>QUẢN TRỊ<br>DOANH NGHIỆP</p>
            </div>
            <div class="swiper-slide menu" data-type="3">
                <p>QUẢN TRỊ<br>DOANH NGHIỆP</p>
            </div>
            <div class="swiper-slide menu" data-type="4">
                <p>ĐẠI HỘI<br>CỔ ĐÔNG</p>
            </div>
            <div class="swiper-slide menu" data-type="5">
                <p>BÁO CÁO<br>THƯỜNG NIÊN</p>
            </div>
        </div>
        <div class="swiper-button-next for-menu"></div>
        <div class="swiper-button-prev for-menu"></div>
    </div>

    <div class="menu-default pc">
        <div class="container">
            <div class="menu active" data-type="1">
                <p>BÁO CÁO TÀI CHÍNH</p>
            </div>
            <div class="menu" data-type="2">
                <p>QUẢN TRỊ DOANH NGHIỆP</p>
            </div>
            <div class="menu" data-type="3">
                <p>QUẢN TRỊ DOANH NGHIỆP</p>
            </div>
            <div class="menu" data-type="4">
                <p>ĐẠI HỘI CỔ ĐÔNG</p>
            </div>
            <div class="menu" data-type="5">
                <p>BÁO CÁO THƯỜNG NIÊN</p>
            </div>
        </div>
    </div>

    <div class="container">
        <hr>
    </div>

    <div class="menu-detail" data-type="1">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="../assets/img/Rectangle 911.png" alt="Rectangle 911">
                    <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                </div>
                <div class="col-md-4 text-center">
                    <img src="../assets/img/Rectangle 911.png" alt="Rectangle 911">
                    <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                </div>
                <div class="col-md-4 text-center">
                    <img src="../assets/img/Rectangle 911.png" alt="Rectangle 911">
                    <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                </div>
                <div class="col-md-4 text-center">
                    <img src="../assets/img/Rectangle 911.png" alt="Rectangle 911">
                    <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                </div>
                <div class="col-md-4 text-center">
                    <img src="../assets/img/Rectangle 911.png" alt="Rectangle 911">
                    <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                </div>
                <div class="col-md-4 text-center">
                    <img src="../assets/img/Rectangle 911.png" alt="Rectangle 911">
                    <h4 class="text-center menu-title">Hội nghị tổng kết 2019</h4>
                </div>
                <nav class="menu-paginate">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#"></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#"><pre><</pre></a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item"><a class="page-link" href="#"><pre>></pre></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="menu-detail d-none" data-type="2">
        22222
    </div>
    <div class="menu-detail d-none" data-type="3">
        33333
    </div>
    <div class="menu-detail d-none" data-type="4">
        444444
    </div>
    <div class="menu-detail d-none" data-type="5">
        5555
    </div>
</section>

