
@{
    ViewBag.Title = "bảo trì hệ thống";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-default">
    <div class="bg" style="text-align:center">
        <img src="~/webroot/images/nangcap.jpg" />
    </div>
</section>

