@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}
<main class="main-content clearfix" id="main">
    <div class="container">
        <div class="content content--full">
            <div class="box box--center">
                <div class="box__body">
                    @Html.Partial("_Alerts")
                </div>
            </div>
        </div>
    </div>
</main>
