@Html.Action("Slide", "HinhAnh")
<section class="swiper-container menu">
    <div class="swiper-wrapper">
        <a class="swiper-slide" href="#">
            <div class="icon">
                <img src="../webroot/images/icon/home/nop-tien.svg" class="lazyload">
            </div>
            <p>NỘP TIỀN</p>
        </a>
        <a class="swiper-slide" href="#">
            <div class="icon">
                <img src="../webroot/images/icon/home/rut-tien.svg" class="lazyload">
            </div>
            <p>RÚT TIỀN</p>
        </a>
        <a class="swiper-slide" href="#">
            <div class="icon">
                <img src="../webroot/images/icon/home/dau-tu-co-phieu.svg" class="lazyload">
            </div>
            <p class="d-none d-md-block">ĐẦU TƯ CỔ PHIẾU</p>
            <p class="d-md-none">ĐẦU TƯ<br>CỔ PHIẾU</p>
        </a>
        <a class="swiper-slide" href="#">
            <div class="icon">
                <img src="../webroot/images/icon/home/dau-tu-trai-phieu.svg" class="lazyload">
            </div>
            <p class="d-none d-md-block">ĐẦU TƯ TRÁI PHIẾU</p>
            <p class="d-md-none">ĐẦU TƯ<br>TRÁI PHIẾU</p>
        </a>
        <a class="swiper-slide" href="#">
            <div class="icon">
                <img src="../webroot/images/icon/home/he-thong-phan-tich.svg" class="lazyload">
            </div>
            <p class="d-none d-md-block">HỆ THỐNG PHÂN TÍCH</p>
            <p class="d-md-none">HỆ THỐNG<br>PHÂN TÍCH</p>
        </a>
    </div>
    <div class="swiper-button-next for-menu"></div>
    <div class="swiper-button-prev for-menu"></div>
</section>

<section class="pc home-shadow"></section>

<section class="home-invest">
    <div class="title-default">
        <img src="../webroot/images/icon/chart.svg" alt="Chart">
        <h2>Lựa chọn đầu tư</h2>
    </div>
    <div class="pc">
        <div class="content first">
            <div class="image">
                <img src="../webroot/images/co-phieu.png" alt="Co phieu">
            </div>
            <div class="text">
                <div class="title">
                    <img src="../webroot/images/icon/home/line-circle.svg" alt="Line">
                    <p>CỔ PHIẾU</p>
                </div>
                <div class="bottom">
                    <p class="desc">
                        Nắm bắt nhu cầu của khách hàng, chúng tôi cung cấp giải pháp tài chính hiệu quả, phù hợp với
                        tình
                        trạng tài chính cụ thể của từng khách hàng
                    </p>
                    <div class="qr">
                        <img src="../webroot/images/qr.png" alt="Qr" class="qr-image">
                        <img src="../webroot/images/icon/home/arrow-right.svg" alt="Arrow" class="arrow">
                        <p>
                            Quét mã ngay để<br>
                            DOWNLOAD APP
                        </p>
                    </div>
                    <a href="#">XEM CHI TIẾT</a>
                </div>
            </div>
        </div>
        <div class="content second">
            <div class="text">
                <div class="title">
                    <p>TRÁI PHIẾU</p>
                    <img src="../webroot/images/icon/home/line-circle.svg" alt="Line">
                </div>
                <div class="bottom">
                    <p class="desc">
                        Nắm bắt nhu cầu của khách hàng, chúng tôi cung cấp giải pháp tài chính hiệu quả, phù hợp với
                        tình
                        trạng tài chính cụ thể của từng khách hàng
                    </p>
                    <div class="qr">
                        <img src="../webroot/images/qr.png" alt="Qr" class="qr-image">
                        <img src="../webroot/images/icon/home/arrow-right.svg" alt="Arrow" class="arrow">
                        <p>
                            Quét mã ngay để<br>
                            DOWNLOAD APP
                        </p>
                    </div>
                    <a href="#">XEM CHI TIẾT</a>
                </div>
            </div>
            <div class="image">
                <img src="../webroot/images/trai-phieu.png" alt="Co phieu">
            </div>
        </div>
    </div>
    <div class="sp">
        <div class="container">
            <div class="content first">
                <div class="image">
                    <img src="../webroot/images/co-phieu.png" alt="Co phieu">
                </div>
                <div class="text">
                    <div class="title">
                        <p>CỔ PHIẾU</p>
                    </div>
                    <div class="bottom">
                        <p class="desc">
                            Nắm bắt nhu cầu của khách hàng, chúng tôi cung cấp giải pháp tài chính hiệu quả, phù hợp
                            với
                            tình
                            trạng tài chính cụ thể của từng khách hàng
                        </p>
                        <div class="qr">
                            <img src="../webroot/images/qr.png" alt="Qr" class="qr-image">
                            <img src="../webroot/images/icon/home/arrow-right.svg" alt="Arrow" class="arrow">
                            <p>
                                Quét mã ngay để<br>
                                DOWNLOAD APP
                            </p>
                        </div>
                        <a href="#">XEM CHI TIẾT</a>
                    </div>
                </div>
            </div>
            <div class="content second">
                <div class="image">
                    <img src="../webroot/images/trai-phieu.png" alt="Co phieu">
                </div>
                <div class="text">
                    <div class="title">
                        <p>TRÁI PHIẾU</p>
                    </div>
                    <div class="bottom">
                        <p class="desc">
                            Nắm bắt nhu cầu của khách hàng, chúng tôi cung cấp giải pháp tài chính hiệu quả, phù hợp
                            với
                            tình
                            trạng tài chính cụ thể của từng khách hàng
                        </p>
                        <div class="qr">
                            <img src="../webroot/images/qr.png" alt="Qr" class="qr-image">
                            <img src="../webroot/images/icon/home/arrow-right.svg" alt="Arrow" class="arrow">
                            <p>
                                Quét mã ngay để<br>
                                DOWNLOAD APP
                            </p>
                        </div>
                        <a href="#">XEM CHI TIẾT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-question">
    <div class="left">
        <div class="bg">
            <div class="content">
                <h2 class="title">
                    Câu hỏi<br>thường gặp
                </h2>
                <ul>
                    <li class="active">
                        <p>Có những cách giao dịch chứng khoán nào thông qua Internet?</p>
                    </li>
                    <li>
                        <p>Có thể đặt lệnh ngoài giờ cho ngày giao dịch kế tiếp từ lúc nào?</p>
                    </li>
                    <li>
                        <p>
                            Có thể nhờ người khác mang Sổ sở hữu cổ phần đến TVSI để thực hiện thủ tục lưu ký
                            không?
                        </p>
                    </li>
                </ul>
                <a href="#">Xem thêm</a>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="bg">
            <img src="../webroot/images/icon/home/quotes.svg" alt="Quotes" class="quotes">
            <p>
                Tại TVSI, khách hàng có thể giao dịch trực tuyến thông qua: webtrading iTrade Home,
                ứng dụng giao dịch trực tuyến qua điện thoạiTVSI Mobile,
                ứng dụng giao dịch trực tuyến qua máy tính iTrade Pro
            </p>
        </div>
    </div>
</section>

<section class="home-transaction">
    <div class="top">
        <div class="bg">
            <div class="title-default">
                <img src="../webroot/images/icon/chart.svg" alt="Chart">
                <h2>Công cụ giao dịch</h2>
            </div>
            <p>
                TVSI luôn coi công nghệ là thế mạnh nhằm tạo ra những tiện ích phục vụ tối đa nhu cầu khách hàng. Để
                không ngừng nâng cao chất lượng dịch vụ, đáp ứng nhu cầu của Quý khách hàng, TVSI hân hạnh giới
                thiệu các dịch vụ trực tuyến với ưu điểm vượt trội.
            </p>
        </div>

        <div class="middle">
            <img src="../webroot/images/icon/home/giao-dich-truc-tuyen.svg" alt="Chart" class="lazyload">
            <img src="../webroot/images/icon/home/ung-dung-tren-dien-thoai.svg" alt="Chart" class="lazyload">
            <img src="../webroot/images/icon/home/ung-dung-tren-may-tinh.svg" alt="Chart" class="lazyload">
            <img src="../webroot/images/icon/home/bang-gia-truc-tuyen.svg" alt="Chart" class="lazyload">
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="left">
                <div class="first">
                    <div class="analyze">
                        <img src="../webroot/images/icon/home/trung-tam-phan-tich.svg" alt="Analyze">
                        <h3>Trung tâm phân tích</h3>
                    </div>
                    <p>
                        Với hệ thống giữ liệu, tin tức và báo cáo phân tích cập nhật chính xác đến từng giây.
                        Tân Việt tự tin mang lại cho các nhà đầu tư của mình một nền tảng phân tích vững chắc.
                    </p>
                </div>
                <div class="second">
                    <h3>Báo cáo</h3>
                    <p>Báo cáo phân tích về thị trường doanh nghiệp và ngành.</p>
                </div>
                <div class="second">
                    <h3>Dữ liệu</h3>
                    <p>Dữ liệu nhanh, chính xác được cập nhật từng giây.</p>
                </div>
                <a href="#">TRUY CẬP NGAY</a>
            </div>
            <div class="right">
                <img src="../webroot/images/image-transaction.png" alt="Analyze" class="lazyload">
            </div>
        </div>
    </div>
</section>

<section class="home-news">
    <div class="container">
        <div class="title">
            <h2>Tin tức nổi bật</h2>
            <a href="#">Xem thêm <img src="../webroot/images/icon/home/arrow-right-red.svg" alt="Arrow"></a>
        </div>
        <div class="content">
            <div class="left pc">
                <a class="news" href="#">
                    <img src="../webroot/images/news/1.png" alt="News">
                    <h3>
                        Chứng khoán Tân Việt (TVSI): Lãi trước thuế 9 tháng đạt 464 tỷ đồng, tăng trưởng 175% so với
                        cùng kỳ 2020 (CafeF)
                    </h3>
                    <div class="info">
                        <p class="type">Thị doanh nghiệp</p>
                        <p class="date">10/12/2021</p>
                    </div>
                </a>
            </div>
            <div class="right">
                <a class="news" href="#">
                    <img src="../webroot/images/news/1.png" alt="News">
                    <h3>
                        Chứng khoán Tân Việt (TVSI): Lãi trước thuế 9 tháng đạt 464 tỷ đồng, tăng trưởng 175% so với
                        cùng kỳ 2020 (CafeF)
                    </h3>
                    <div class="info">
                        <p class="type">Thị doanh nghiệp</p>
                        <p class="date">10/12/2021</p>
                    </div>
                </a>
                <a class="news" href="#">
                    <img src="../webroot/images/news/2.png" alt="News">
                    <h3>Tăng vốn - cú huých cho khối chứng khoán (ĐTCK)</h3>
                    <div class="info">
                        <p class="type">Thị trường chứng khoán</p>
                        <p class="date">10/12/2021</p>
                    </div>
                </a>
                <a class="news" href="#">
                    <h3>TVSI trao tặng hơn 3.000 khẩu trang 3M tới Bệnh viện Hữu nghị Việt Đức</h3>
                    <div class="info">
                        <p class="type">Tin doanh nghiệp</p>
                        <p class="date">10/12/2021</p>
                    </div>
                </a>
                <a class="news" href="#">
                    <h3>TVSI trao tặng hơn 3.000 khẩu trang 3M tới Bệnh viện Hữu nghị Việt Đức</h3>
                    <div class="info">
                        <p class="type">Tin doanh nghiệp</p>
                        <p class="date">10/12/2021</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
