@using TTCMS.Core.Infrastructure.Alerts;

    @if (TempData.GetAlerts().Any())
    {
        <div class="container" id="admin_alert">
            @foreach (var alert in TempData.GetAlerts())
            {
                <div class="alert @alert.AlertClass alert-dismissable">
                    <button type="button" class="close toast-close-button" data-dismiss="alert" aria-hidden="true">&times;</button>
                    @alert.Message
                </div>
            }
        </div>
    }
