@model TTCMS.Web.Models.QuenMatKhauViewModel
@{
    ViewBag.Title = "Khôi phục mật khẩu";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}
<main class="main-content clearfix" id="main">
    <div class="container">
        <div class="content content--full">
            <div class="box box--center">
                <div class="box__header">
                    <h2 class="box__title">Khôi phục mật khẩu</h2>
                    <a class="btn btn--back visible-xs visible-sm" href="/tai-khoan.html"><i class="fa fa-angle-left"></i></a>
                </div>
                <div class="box__body">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal form-employers-register", role = "form" }))
                    {
                        @Html.Partial("_Alerts")
                        @Html.AntiForgeryToken()
                        <div class="row form">
                            <div class="col-md-12">
                                <p>Nếu bạn quên mật khẩu, nhập địa chỉ email của bạn vào khung này và nhấp khôi phục mật khẩu. Bạn sẽ nhận được mật khẩu mới và một liên kết để đăng nhập. Bạn có thể thay đổi sau đó.</p>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-group-lg has-feedback">
                                    <label class="control-label" for="email">Email</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                                        @Html.TextBoxFor(m => m.UserName,new{@class="form-control",placeholder="Nhập email của bạn"})
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger alert-error" })
                                    </div>
                                </div>
                                <div class="form-group form-group-lg">
                                    <input type="submit" class="btn btn-lg btn-success btn-block" value="Khôi phục mật khẩu" name="btnfotgotpass">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
